{% extends 'app/base.html' %}
{% block title %}Password Reset Complete{% endblock title %}

{% block main_content %}
<div class="container my-5 text-center">
    <h2>Password Reset Complete</h2>
    <div>
        <iframe src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExODJzdTB4Z3czZzZwbTZkY2t2cTY4ZHNiMDd3cXVhb3FiYWE3eXhsNSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Tf5N3Y2TO6jwGg5Msw/giphy.gif" width="500" height="500" frameborder="0">
            class="giphy-embed allowFullScreen">
         </iframe>
        
    </div>
    <p>Your password has been successfully reset. You can now log in with your new password.</p>
    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
</div>
{% endblock main_content %}
